<%= form_for(@sprite) do |f| %>
  <% if @sprite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprite.errors.count, "error") %> prohibited this sprite from being saved:</h2>

      <ul>
      <% @sprite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/><br/>
    <%= f.submit "Submit", :class => "btn" %>
<% end %>
